{% load static %}
<html>
  <head>
    <title>
      AboutProject
    </title>
    <link rel="stylesheet" href="styleus.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">
  </head>

  <body>
    <section class="about">
      <div class="main">
        <img src="{% static 'cc3.png ' %}">
        <div class="about-text">
          <h1>ABOUT PROJECT</h1>
          <h5>Credit Card Fraud Detection </h5>
          <p>Lorem Ispum : To save his mother, a kind-hearted boy and his tiny daemon friend set out on a journey across post-apocalyptic Japan as dark forces close in.: To save his mother, a kind-hearted boy and his tiny daemon friend set out on a journey acrofriend set out on a journey across post-apocalyptic Japan as dark forces close in.: To save his mother, a kind-hearted boy and his tiny daemon friend set out on a journey across post-apocalyptic Japan as dark forces close in</p>
          <a href="{% url 'login' %}"><button type="button">GET STARTED</button></a>
        </div>
      </div>

    </section>
  </body>
</html>