<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <input type="text" id="ccnum" name="ccnum" >CreditcardNumber<br>
    <input type="text" id="mer_add" name="mer_add" >Merchants address<br>
    <input type="text" id="user_add" name="user_add" >Users address<br>
    <input type="text" id="amount" name="amount" >Amount<br>
    <input type="submit" value="Submit">
</form>
    
</body>
</html>